* {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

h1 {
  color: rgba(22, 34, 88, 0.4);
  text-transform: uppercase;
}

h3 {
  font-style: italic;
}

p {
  line-height: 1.5em;
  font-weight: bold;
}

.breaking {
  font-family: Georgia, Times, serif;
}

p.breaking {
  line-height: 1.3em;
}
